---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>
  </body>
    {% include scripts.html %}

    <style>
      #clustrmap {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100px !important; /* 设置宽度 */
        height: 100px !important; /* 设置高度 */
        max-width: 100px !important; /* 最大宽度 */
        max-height: 100px !important; /* 最大高度 */
        z-index: 1000;
        overflow: hidden;
      }
    </style>
    
    <!-- ClusterMaps Globe Widget -->
    <div id="clustrmap" style="position: fixed; bottom: 0; left: 0; width: 100px; height: 100px; z-index: 1000; overflow: hidden;">
      <iframe src="https://clustrmaps.com/globe.html?d=HCeFxHJXuJkC-jbv_qfqnpFhm7Y9decm5UXAX0Q7PG4" style="border: none; width: 100%; height: 100%;"></iframe>
    </div>

  <!-- </body> -->
</html>